@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

body{
    background-color: #222831;
}

#calculator-container{
    display: grid;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: minmax(90px, auto) repeat(5, 70px); /*allow for expand on result div */
}

#calculator-container > button {
    cursor: pointer;
    font-size: 2em;
    outline: none;
    border: 1px solid #222831;
}

#calculator-container > button:hover {
    background-color: #ccc;
}

.double-size{
    grid-column: span 2; /*increase width */
}

#results{
    grid-column: 1/-1;
    background-color: #ccc;
    border: 1px solid #222831;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word; 
    word-break: break-all;
    margin-bottom: 2px;
}

#results .top-results{
    font-size: 1.5em;
    color: #505050ee;
}

#results .bottom-results {
    font-size: 2.5em;
}